<h1>החברים בבנק</h1>
<!-- כפתורי הסרה והוספה -->
<div class="demo-button-container">
  <!-- מוסיף חבר לבנק -->
  <!-- <button mat-raised-button (click)="addMember()" class="demo-button">
    הוסף חבר
  </button> -->
  <app-new-member [btnContent]="btnCont" [isToCheck]="notCheck"></app-new-member>
  <!-- מוריד חבר -->
</div>
<br>
<table >
  <tr id="amuda">
    <td >שם חבר</td>
    <td>סיסמא</td>
    <td>מייל</td>
    <td>טלפון</td>
    <td>כתובת</td>
    <td>שנת לידה</td>
    <td>ז/נ</td>
    <td>שעות שנותרו</td>
    <td>פעיל </td>
    <td>יש לאשר</td>
    <td>שנה מצב פעילות</td>
  </tr>
  <tr *ngFor="let mem of members">
    <td> {{mem.name}} </td>
    <td>{{mem.password}}</td>
    <td>{{mem.mail}}</td>
    <td>{{mem.phone}}</td>
    <td>{{mem.address}}</td>
    <td>{{mem.yearBorn}}</td>
    <td>{{getGender(mem)}}</td>
    <td>{{getRemainTime(mem)}}</td>
    <td>{{getActive(mem)}}</td>
    <td *ngIf="mem.toCheck==true; else approved">
      <button mat-raised-button (click)="aproveMember(mem)" class="demo-button">
        אשר חבר </button>
    </td>
      <ng-template #approved><td>חבר זה מאושר </td></ng-template>
      <!--  -->
    <td *ngIf="mem.active==true; else notActive">
      <button mat-raised-button (click)="switchActive(mem,false)" class="demo-button">
        הפוך חבר ללא פעיל
      </button>
    </td>
    <ng-template #notActive>
      <td>
        <button mat-raised-button (click)="switchActive(mem,true)" class="demo-button">
          הפוך חבר לפעיל
        </button>
      </td>
    </ng-template>

    
  </tr>
</table>