    
    <!-- <div class="card">
        <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div> -->
      <!-- Add icon library -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="card">
  <img src="../../../../assets/בנק הזמן.png" alt="John" style="width:100%">
  <h1>{{category.category.name}}</h1>
  <p class="title">ניתן על ידי: {{category.memGiverName}}</p>
  <p>מיקום החבר: {{category.Place}}</p>
 <p>:האם ניתן שירות בבית הלקוח {{category.PossibilityComeCustomerHome}}</p>
<p>:שנות ותק {{category.ExperienceYears}}</p>

  
  <!-- <div class="dropdown-content">
    <p class="dropdown"> {{category.memPhone}} טלפון </p>
    <p class="dropdown">{{category.memEmail}} מייל </p>
  </div> -->
  <div class="dropdown"> <p><button class="dropbtn">צור קשר</button></p>
    <!-- <button class="dropbtn">Dropdown</button> -->
    <div class="dropdown-content">
      <a >{{category.memPhone}} טלפון </a>
      <a >{{category.memEmail}} מייל </a>
    </div>
  <!-- </div> -->
</div>


<!-- ///////////////////////////////////////// -->
    <!-- <div ><label> {{category.category.name}}</label></div>
    <div ><label> מיקום החבר <br>{{category.Place}}</label></div>
    <div><label>יכול להגיע לבית הלקוח <br>{{category.PossibilityComeCustomerHome}}</label ></div>
    <div><label>שנות ותק <br>{{category.ExperienceYears}}</label></div>
    <div><label>הגבלה <br>{{category.RestrictionsDescription}}</label></div>
    <div><label>מיעוד לקבוצות? <br>{{category.forGroup}}</label></div>
    <div><label>כמות משתתפים מינימלית <br>{{category.minGroup}}</label></div>
    <div><label>כמות משתתפים מקסימלית <br>{{category.maxGroup}}</label></div>

    <div ><h3> {{category.category.name}}</h3></div>
    <div ><label>{{category.Place}}</label></div>
    <div><label>{{category.PossibilityComeCustomerHome}}</label ></div>
    -->