  <!--name 
    public categoryId:number,
public forGroup:boolean , 
public minGroup:number ,
public maxGroup:number ,
public approved:boolean ,
public amountPeopleOffered:number , -->


<br>
<button  mat-raised-button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" id="btnbtn" class="demo">הוסף קטגוריה</button>
<div id="id01" class="modal"> 
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
   
<!-- //////////////////////////////////////////////////// -->


<form #myForm="ngForm" (ngSubmit)="onSave()"> 
    <mat-form-field appearance="fill" >    
        <mat-label>שם קטגוריה</mat-label>
        <input matInput type="text"  [(ngModel)]="category.name" name="name" id="name" required
        #validName="ngModel">
        <div class="err" *ngIf="validName.errors && (validName.dirty||validName.touched)">
          <div *ngIf="validName.errors?.['required']"><label>שדה זה חובה</label><br></div>
        </div>
      </mat-form-field>
      <br>
      <!-- <mat-form-field appearance="fill" >    
        <mat-label>מיועד לקבוצות</mat-label>
        <mat-select matInput type="checkbox"  [(ngModel)]="category.forGroup" name="forGroup" id="forGroup" required>
          <mat-option value= 1>כן</mat-option>
          <mat-option value= 0>לא</mat-option>
        </mat-select>
      </mat-form-field>
      <br><mat-form-field appearance="fill" >    
        <mat-label>כמות משתתפים מינמלית</mat-label>
        <input matInput type="number"  [(ngModel)]="category.minGroup" name="minGroup" id="minGroup" required>
      </mat-form-field>
      <br><mat-form-field appearance="fill" >    
        <mat-label> כמות משתתפים מקסימלית</mat-label>
        <input matInput type="number"  [(ngModel)]="category.maxGroup" name="maxGroup" id="maxGroup" required>
      </mat-form-field>
       -->

      <button mat-raised-button type="submit" onclick="document.getElementById('id01').style.display='none'" class="demo-button" [disabled]="!myForm.valid">
        שלח
      </button>
</form>  
    
<script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }
  </script>