<p>על בנק הזמן</p>

<!-- //////////////////////////////////////////////////////// -->\

<div class="row">
    <div class="column" >
        <h3 class="fontNice" style="margin-top: 100px;margin-right:140px;font-weight: bold;">אתם מוזמנים להצטרף לקהילות בנק הזמן ברחבי הארץ   ולהגשים חלום<br> לתת מיכולותיכם ולקבל דברים שאתם צריכים תמורת זמן  

            בנק הזמן בירושלים פועל בתמיכתם של המטה למנהלים קהילתיים באגף חברה ופנאי בעיריית ירושלים,<br> המינהל לשירותי קהילה, החברה למתנסי"ם וקרן ירושלים.<br>
            
            בנק הזמן מבוסס על הרעיון הפשוט של החלפת זמן - שעה שווה שעה.
            
            "בנק הזמן" יוצר קהילה מגובשת של שווים בין שווים נותנים ומקבלים. תחומי הנתינה והקבלה הם רבים ומגוונים בשל ההון האנושי הרב של חברי קהילת בנק הזמן.
        </h3>
    </div>
    <div class="column">
     <img src="../../../assets/OLAZ6A0.jpg" style="width: 60%;margin-top: 20px;" class="animateMe">
    </div>
</div>