
<br>
<button  mat-raised-button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" id="btnbtn" class="demo">התחבר</button>
<div id="id01" class="modal"> 
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
   
<!-- //////////////////////////////////////////////////// -->
<!-- הכנס שם -->

 <form #myForm="ngForm" (ngSubmit)="onSave()">
  <!-- <a routerLink="/myAccount">Sign up</a> -->
  <!-- <a routerLink="/newAcount">--Sign in</a> -->
  <!-- <body class="login"><app-new-member [btnContent]="btnCont" [isToCheck]="check"></app-new-member></body> -->
 
  <!-- <article class="home"></article> -->
<br>
   <mat-form-field appearance="fill"> 
        <mat-label>הכנס פלפון</mat-label>
        <input matInput required  [(ngModel)]="phone" name="phone" id="phone"
         #validPhone="ngModel" minlength="9" maxlength="10"  pattern="^0\d{8}|^05\d{8}$" title="אנא הזן מספר סלולרי תקין"  > 
         <div class="err" *ngIf="validPhone.errors && (validPhone.dirty||validPhone.touched)">
          <div *ngIf="validPhone.errors?.['required']"><label>שדה זה חובה</label><br></div>
        <label *ngIf="validPhone.errors?.['minlength']">טלפון מינימום 9 ספרות</label><br>
       <label *ngIf="validPhone.errors?.['maxlength']">טלפון מקסימום 10 ספרות</label>      
            </div> 
</mat-form-field>
      <br> 
    <mat-form-field appearance="fill" >    
        <mat-label>סיסמה</mat-label>
        <input matInput type="password"  [(ngModel)]="password" name="password" id="password" required
        minlength="8" maxlength="20" #validPassword="ngModel" >
        <div class="err" *ngIf="validPassword.errors && (validPassword.dirty||validPassword.touched)">
          <div *ngIf="validPassword.errors?.['required']"><label>שדה זה חובה</label><br></div>
          <label *ngIf="validPassword.errors?.['minlength']">סיסמה מינימום 8 תוים</label><br>
          <label *ngIf="validPassword.errors?.['maxlength']">סיסמה מקסימום 20 תוים</label>      
       </div>
      </mat-form-field>
    <br>
    <button mat-raised-button type="submit" onclick="document.getElementById('id01').style.display='none'" class="demo-button" [disabled]="!myForm.valid">
        התחבר
        </button>
    </form> 
      <!--//////////////////////////////////////////  -->
    </div>
  </form>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
}
</script>


<!-- chana -->