table {
    direction: rtl;
    border-collapse: collapse;
    width: 100%;
    font-family: Heebo;
    direction: rtl;
}
td, th {
    border: 1px solid #ddd;
    padding: 4px;
    direction: rtl;
    margin: auto;
}
#amuda{
    background-color:#45f4d1;
    direction: rtl;
}
body , h1{
    font-family: Heebo;
    text-align: center;
    font-weight: bold;
    direction: rtl;
}
.demo-button  {
    margin-left: 8px;
  }